ipython
amqp
asn1crypto
bcrypt
certifi
cffi
chardet
cryptography
Django
idna
Jinja2
kombu
MarkupSafe
nose
paramiko
pyasn1
pycparser
PyMySQL
PyNaCl
python-dateutil
pytz
redis
requests
six
SQLAlchemy
svn
urllib3
vine
uWSGI
djongo
openpyxl
ipykernel
yapf
mypy
types-requests
types-redis
XlsxWriter
xlrd
ansible-core==2.14.8
ansible==7.7.0
ansible-lint
djangorestframework
djangorestframework-camel-case
djangorestframework-recursive
markdown
django-filter
drf-yasg
user_agents
django-cors-headers
django-oauth-toolkit
apscheduler
Pillow
celery
asyncio
asyncssh
aiohttp
aiormq
aioamqp
celery[librabbitmq]
celery[redis]

django-apscheduler
py_eureka_client
django-ratelimit
ansible-runner
arrow
aiohttp-jinja2
aiofiles
aioredis
