ipython
amqp
asn1crypto
bcrypt
certifi
cffi
chardet
cryptography
Django
idna
Jinja2
kombu
MarkupSafe
nose
paramiko
pyasn1
pycparser
PyMySQL
PyNaCl
python-dateutil
pytz
redis
requests
six
SQLAlchemy
svn
urllib3
vine
uWSGI
djongo
openpyxl
ipykernel
yapf
mypy
types-requests
types-redis
XlsxWriter
xlrd
ansible==2.10.7
ansible-lint
